In [19]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
df=pd.read_csv('datasets/clean_datasets.csv')
df.head()

,size,bath,balcony,price,per_sqft,price_per_sqft,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,...,location_Vijayanagar,location_Vishveshwarya Layout,location_Vishwapriya Layout,location_Vittasandra,location_Whitefield,location_Yelachenahalli,location_Yelahanka,location_Yelahanka New Town,location_Yelenahalli,location_Yeshwanthpur
0,2.0,2.0,1.0,39.07,528.0,3699.810606,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4.0,5.0,3.0,120.00,650.0,4615.384615,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,2.0,3.0,62.00,480.0,4305.555556,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,3.0,1.0,95.00,507.0,6245.890861,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2.0,2.0,1.0,51.00,600.0,4250.000000,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
x = df.drop(columns=['price'])  # Features (all columns except 'price')
y = df['price']

In [24]:
print(x.iloc[0,:])

size                              2.000000
bath                              2.000000
balcony                           1.000000
per_sqft                        528.000000
price_per_sqft                 3699.810606
                                  ...
location_Yelachenahalli           0.000000
location_Yelahanka                0.000000
location_Yelahanka New Town       0.000000
location_Yelenahalli              0.000000
location_Yeshwanthpur             0.000000
Name: 0, Length: 254, dtype: float64

In [26]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x['per_sqft'] = scaler.fit_transform(x[['per_sqft']])
x['price_per_sqft'] = scaler.fit_transform(x[['price_per_sqft']])

In [ ]:
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# x = scaler.fit_transform(x)

In [28]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [3]:
 df.describe().loc[['min', 'max']].iloc[:,:6]

     size  bath  balcony  price     per_sqft  price_per_sqft
min   1.0   1.0      0.0    9.0   402.050000      399.467377
max   9.0  10.0      3.0  995.0  4761.333333    29166.666667

In [9]:
import numpy as np
z=np.array([[ 0.53271483, -0.50994527,  1.71953491, -0.59837751, -0.56304847,
         2.04118115, -0.07709618, -0.29057825, -1.61426204, -0.53160703,
         0.53160703, -0.03522014, -0.02762236, -0.02929933, -0.04259126,
        -0.01691114, -0.05443441, -0.03783611, -0.10935595, -0.06562808,
        -0.05354668, -0.0338368 , -0.03783611, -0.07057171, -0.04787988,
        -0.05264415, -0.04478111, -0.04478111, -0.04983972, -0.03907883,
        -0.03655141, -0.04259126, -0.03655141, -0.05079156, -0.04886953,
        -0.03783611, -0.04686953, -0.06489167, -0.07709618, -0.03239472,
        -0.04259126, -0.03239472, -0.03088568, -0.0338368 , -0.02183427,
        -0.03783611, -0.11330418, -0.04886953, -0.03655141, -0.04478111,
        -0.03783611, -0.08016385, -0.09037032, -0.03239472, -0.0338368 ,
        -0.05948645, -0.03907883, -0.04259126, -0.03088568, -0.05264415,
        -0.05443441, -0.04983972, -0.02762236, -0.06107888, -0.06635645,
        -0.06028785, -0.02762236, -0.07057171, -0.05701569, -0.03522014,
        -0.02762236, -0.05079156, -0.04259126, -0.0338368 , -0.03239472,
        -0.03088568, -0.03088568, -0.0338368 , -0.03907883, -0.05867427,
        -0.05172606, -0.02929933, -0.03088568, -0.05264415, -0.0436998 ,
        -0.02929933, -0.04686953, -0.15558576, -0.10433753, -0.08929223,
        -0.05354668, -0.0338368 , -0.02929933, -0.03907883, -0.02762236,
        -0.03239472, -0.06635645, -0.05948645, -0.04787988, -0.0436998 ,
        -0.02762236, -0.02583712, -0.03655141, -0.03655141, -0.05867427,
        -0.09404947, -0.08370041, -0.12123849, -0.04787988, -0.06414696,
        -0.06339364, -0.11112719, -0.08929223, -0.05616828, -0.04583711,
        -0.07895073, -0.07833731, -0.05079156, -0.03655141, -0.06339364,
        -0.06414696, -0.02762236, -0.02762236, -0.04686953, -0.05785084,
        -0.07455345, -0.07895073, -0.06263142, -0.02929933, -0.06489167,
        -0.02583712, -0.08076374, -0.0338368 , -0.05867427, -0.07583523,
        -0.03907883, -0.03655141, -0.05443441, -0.03088568, -0.04145331,
        -0.02929933, -0.02929933, -0.04886953, -0.06107888, -0.13939398,
        -0.04145331, -0.02929933, -0.08427579, -0.0338368 , -0.04145331,
        -0.0436998 , -0.0338368 , -0.06849591, -0.04787988, -0.03522014,
        -0.04886953, -0.03239472, -0.02183427, -0.03655141, -0.03783611,
        -0.03088568, -0.07895073, -0.0436998 , -0.06988649, -0.04886953,
        -0.05785084, -0.03907883, -0.06489167, -0.03088568, -0.02391938,
        -0.05785084, -0.04686953, -0.03783611, -0.05172606, -0.02391938,
        -0.03522014, -0.03783611, -0.05948645, -0.12123849, -0.04259126,
        -0.00976272, -0.03088568, -0.03907883, -0.0338368 , -0.06263142,
        -0.0338368 , -0.03239472, -0.02583712, -0.03088568, -0.05867427,
        -0.02583712, -0.03783611, -0.03783611, -0.03088568, -0.03239472,
        -0.03783611, -0.04583711, -0.07833731, -0.49469307, -0.04983972,
        -0.04028346, -0.06849591, -0.02929933, -0.0338368 , -0.03239472,
        -0.04686953, -0.06414696, -0.12001869, -0.09037032, -0.0338368 ,
        -0.06414696, -0.06988649, -0.04145331, -0.05172606, -0.03783611,
        -0.03239472, -0.08427579, -0.18019636, -0.03907883, -0.0338368 ,
        -0.03239472, -0.04478111, -0.02391938, -0.02762236, -0.04259126,
        -0.04686953, -0.03088568, -0.04583711, -0.05867427, -0.03239472,
        -0.05264415, -0.05867427, -0.14735579, -0.06562808, -0.0436998 ,
        -0.02391938, -0.03088568, -0.05354668, -0.03655141,  8.53781976,
        -0.07455345, -0.03522014, -0.02929933, -0.04478111, -0.05616828,
        -0.02183427, -0.02391938, -0.05443441, -0.21702785, -0.03907883,
        -0.1365246 , -0.05785084, -0.0338368 , -0.08016385]])

In [10]:
from tensorflow.keras.models import load_model

# Load model
model = load_model('regression_model.h5', compile=False)

# Predict
prediction = model.predict(z)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 162ms/step

In [11]:
prediction

array([[57.979626]], dtype=float32)

In [13]:
z.ravel()

array([ 0.53271483, -0.50994527,  1.71953491, -0.59837751, -0.56304847,
        2.04118115, -0.07709618, -0.29057825, -1.61426204, -0.53160703,
        0.53160703, -0.03522014, -0.02762236, -0.02929933, -0.04259126,
       -0.01691114, -0.05443441, -0.03783611, -0.10935595, -0.06562808,
       -0.05354668, -0.0338368 , -0.03783611, -0.07057171, -0.04787988,
       -0.05264415, -0.04478111, -0.04478111, -0.04983972, -0.03907883,
       -0.03655141, -0.04259126, -0.03655141, -0.05079156, -0.04886953,
       -0.03783611, -0.04686953, -0.06489167, -0.07709618, -0.03239472,
       -0.04259126, -0.03239472, -0.03088568, -0.0338368 , -0.02183427,
       -0.03783611, -0.11330418, -0.04886953, -0.03655141, -0.04478111,
       -0.03783611, -0.08016385, -0.09037032, -0.03239472, -0.0338368 ,
       -0.05948645, -0.03907883, -0.04259126, -0.03088568, -0.05264415,
       -0.05443441, -0.04983972, -0.02762236, -0.06107888, -0.06635645,
       -0.06028785, -0.02762236, -0.07057171, -0.05701569, -0.03522014,
       -0.02762236, -0.05079156, -0.04259126, -0.0338368 , -0.03239472,
       -0.03088568, -0.03088568, -0.0338368 , -0.03907883, -0.05867427,
       -0.05172606, -0.02929933, -0.03088568, -0.05264415, -0.0436998 ,
       -0.02929933, -0.04686953, -0.15558576, -0.10433753, -0.08929223,
       -0.05354668, -0.0338368 , -0.02929933, -0.03907883, -0.02762236,
       -0.03239472, -0.06635645, -0.05948645, -0.04787988, -0.0436998 ,
       -0.02762236, -0.02583712, -0.03655141, -0.03655141, -0.05867427,
       -0.09404947, -0.08370041, -0.12123849, -0.04787988, -0.06414696,
       -0.06339364, -0.11112719, -0.08929223, -0.05616828, -0.04583711,
       -0.07895073, -0.07833731, -0.05079156, -0.03655141, -0.06339364,
       -0.06414696, -0.02762236, -0.02762236, -0.04686953, -0.05785084,
       -0.07455345, -0.07895073, -0.06263142, -0.02929933, -0.06489167,
       -0.02583712, -0.08076374, -0.0338368 , -0.05867427, -0.07583523,
       -0.03907883, -0.03655141, -0.05443441, -0.03088568, -0.04145331,
       -0.02929933, -0.02929933, -0.04886953, -0.06107888, -0.13939398,
       -0.04145331, -0.02929933, -0.08427579, -0.0338368 , -0.04145331,
       -0.0436998 , -0.0338368 , -0.06849591, -0.04787988, -0.03522014,
       -0.04886953, -0.03239472, -0.02183427, -0.03655141, -0.03783611,
       -0.03088568, -0.07895073, -0.0436998 , -0.06988649, -0.04886953,
       -0.05785084, -0.03907883, -0.06489167, -0.03088568, -0.02391938,
       -0.05785084, -0.04686953, -0.03783611, -0.05172606, -0.02391938,
       -0.03522014, -0.03783611, -0.05948645, -0.12123849, -0.04259126,
       -0.00976272, -0.03088568, -0.03907883, -0.0338368 , -0.06263142,
       -0.0338368 , -0.03239472, -0.02583712, -0.03088568, -0.05867427,
       -0.02583712, -0.03783611, -0.03783611, -0.03088568, -0.03239472,
       -0.03783611, -0.04583711, -0.07833731, -0.49469307, -0.04983972,
       -0.04028346, -0.06849591, -0.02929933, -0.0338368 , -0.03239472,
       -0.04686953, -0.06414696, -0.12001869, -0.09037032, -0.0338368 ,
       -0.06414696, -0.06988649, -0.04145331, -0.05172606, -0.03783611,
       -0.03239472, -0.08427579, -0.18019636, -0.03907883, -0.0338368 ,
       -0.03239472, -0.04478111, -0.02391938, -0.02762236, -0.04259126,
       -0.04686953, -0.03088568, -0.04583711, -0.05867427, -0.03239472,
       -0.05264415, -0.05867427, -0.14735579, -0.06562808, -0.0436998 ,
       -0.02391938, -0.03088568, -0.05354668, -0.03655141,  8.53781976,
       -0.07455345, -0.03522014, -0.02929933, -0.04478111, -0.05616828,
       -0.02183427, -0.02391938, -0.05443441, -0.21702785, -0.03907883,
       -0.1365246 , -0.05785084, -0.0338368 , -0.08016385])